%tr 
  %td 
    %input{:name => "billName", :value => @bill.name, :id => "billName"}
  %td 
    %input{:name => "billAmount", :value => "%.2f" % @bill.amount, :id => "billAmount", :class=> "input-small"}
  %td 
    %input{:name => "billUser", :value => nameOrEmail(@bill.user), :id => "billUser", :disabled => ""}
  %td
    %textarea{"name" => "billNotes", :value => @bill.notes, :id => "billNotes"}  
    %input{:type => "hidden", :id => "billUser", :name => "billUser"}
    %input{:type => "hidden", :id => "billTab", :name => "billTab", :value => @bill.tab.id}          