%h1
  Welcome!
Your friend sent you here to make settling the bill(s) easier. To see the tab they're looking to settle with you, 
%a{:href => "/signin"} sign in here
%span.period{:style => "position: relative; right: 3px;"} .
%br
%br
.promise
  We promise not to use your personal information or sell it to third parties, this is simply a service to make settling the bills easier and an open-source side project for
  %a{:href => "http://github.com/zachfeldman"} zachfeldman
  %span.period{:style => "position: relative; right: 3px;"} .