!!!
%html
  %head
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    %script{:src => "/scripts/bootstrap.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"}
    %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles/bootstrap.min.css"} 
    %link{:rel => "stylesheet/less", :type => "text/css", :href => "/styles/styles.less"} 
    %script{:src => "/scripts/less.js", :type =>"text/javascript"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles/font-awesome.css"}

    %body
      %div.row
        %div.span10.offset2
          %br
          %img{:src => "/images/logo.png", :class=> "logo"}
          .header
            %span.headerText
              The Final Tab
            %br
            %span.motto
              It's settled.

          %br
          %br
          %ul.nav.nav-pills
            -if(request.path_info.slice(0..4) != "/tabs")
              %li.tabs{:class=>"active"}
                %a{:href => "/"}
                  Home
            -else
              %li.tabs
                %a{:href => "/"}
                  Home
            -if(session[:user_id] != nil)
              -if(request.path_info.start_with?("/tabs"))
                %li.tabs{:class=>"active"}
                  %a{:href => "/tabs"}
                    Tabs
              -else
                %li.tabs
                  %a{:href => "/tabs"}
                    Tabs
              %li.logout
                %a{:href=> "/logout"}
                  Logout
          =yield
