%script{:src => '/scripts/tab.js'}
%link{:rel => 'stylesheet', :href => '/styles/tabs.css'}
%h1
  =@tab.name
  %a.btn.btn-medium.btn-custom.settle{:href => "/tabs/#{@tab.id}/settle"}
    Settle
%hr.divider
%h3
  Participants
  %a.btn.btn-custom.btn-medium{:href => "/tabs/#{@tab.id}/add"}
    Add/Remove
%table{:id => "users", :cellpadding => 5}
  -@tab.users.each do |user|
    %tr
      %td
        %img{:src => user.picture}
      %td.tabUsers
        &nbsp;&nbsp;
        %span{:class => user.id, :id => "userId"}
        -if(user.name == nil)
          =user.email
        -else
          =user.name
%form{:id => "newBill"}
  %br 
  %table{:id => "addBill", :style => "display: none", :action => ""}
    %tr
      %td
        %input{:name => "billName", :placeholder => "Bill name", :id => "billName"}
      %td
        %input{:name => "billAmount", :placeholder => "Bill amount", :id => "billAmount", :class=> "input-small"}
        %input{:type => "hidden", :id => "billUser", :name => "billUser"}
        %input{:type => "hidden", :id => "billTab", :name => "billTab", :value => @tab.id}
      %td
        %textarea{"name" => "billNotes", :placeholder => "Bill notes", :id => "billNotes"}
      %td
        %button.btn.btn-custom{:id => "billSubmit", :type=> "submit"}
          Add Bill
%span.newBillMsg
%hr.divider
%h3
  Bills
To add a new bill, simply click the user's name who paid the bill from the list above, then fill out all necessary information.
%table{:id => "bills", :style => "border: 2px dotted #CCCCCC;", :border => "2", :cellpadding => "6px"}
  %thead
    %tr
      %td
        %strong
          Bill
      %td
        %strong
          Amount
      %td
        %strong
          Paid By
      %td
        %strong
          Notes
  %tbody
    =will_paginate @bills
    -@bills.each do |bill|
      %tr 
        %td 
          %input{:name => "billName", :value => bill.name, :id => "billName"}
        %td 
          %input{:name => "billAmount", :value => "%.2f" % bill.amount, :id => "billAmount", :class=> "input-small"}
        %td 
          %input{:name => "billUser", :value => bill.user.name, :id => "billUser", :disabled => ""}
        %td
          %textarea{"name" => "billNotes", :value => bill.notes, :id => "billNotes"}  
          %input{:type => "hidden", :id => "billUser", :name => "billUser"}
          %input{:type => "hidden", :id => "billTab", :name => "billTab", :value => @tab.id}          