%script{:src => '/scripts/create_tab.js'}
%div{:id => "emails"}
%h1
  Create New Tab  
%form{:id => "tabForm", :method => "get", :action => "/tabs/process"}
  %input{:name => "tabName", :placeholder => "Name"}
  %span.tabNameMsg
  %br
  %br
  %textarea{:name => "tabNotes", :placeholder => "Write any notes about this tab here."}
  %span.tabNotesMsg  
  %br
  %input.btn.btn-large.btn-custom.addTab{:type => "submit", :value => "Create Tab"}
