%h1
  Welcome to The Final Tab!
We're here to try to make settling your bills between all of your friends easier.
%br
You can
%a{:href => "/signup"}
  signup here
through Facebook or
%a{:href => "/signin"}
  sign in here
if you already signed up.
%br