%h1
  Welcome to Flatmate Tools!
We're here to try to make settling your bills easier.
%br
You can
%a{:href => "/signup"}
  signup here
through Facebook or
%a{:href => "/signin"}
  sign in here
if you already signed up.
