/* mix-ins */
.opacity(@opacity: 0.5){
  @opacitym: @opacity*100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacitym})";
  filter: alpha(opacity=@opacitym);
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  opacity: @opacity;
}

/* modify-user page */
.delete-opacity{
  .opacity(0.5);
}

.trash{
  position: absolute; top: 25px; left: 19px; font-size: 20px;
}

.userPicture{
  position: relative;
}

/*layout*/
img.logo{
  float:left;
  width: 75px;
}
.header{
  display: inline-block;
  padding: 10px 0 0 14px;
}
.headerText{
  font-size: 38px;
}
.motto{
  font-size: 9px;
  font-style:italic;
  padding-left: 3px;
}

.nav-pills li.active a{
  background-color: #1BD8FB;
}